<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{{url_for('others.guardar')}}" method="post">
      <input type="text" name="marca" placeholder="Marca" />
      <input type="text" name="modelo" placeholder="Modelo" />
      <input type="number" name="año" placeholder="año" />
      <input type="submit" value="Guardar" />
    </form>
  </body>
</html>
