<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div><a href="{{url_for('inicio.index')}}">Volver</a></div>
    <form action="" method="post">
      <input
        type="text"
        name="marca"
        placeholder="Marca"
        value="{{ celular.marca_rel.nombre }}"
      />
      <input
        type="text"
        name="modelo"
        placeholder="Modelo"
        value="{{ celular.modelo }}"
      />
      <input
        type="number"
        name="año"
        placeholder="año"
        value="{{ celular.año }}"
      />
      <input type="submit" value="Actualizar" />
    </form>
  </body>
</html>
