{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <h3>{{ message }}</h3>
  {% endfor %}
</ul>
{% endif %} {% endwith %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body>
    <div>
      <a href="{{url_for('others.agregar')}}">Agregar</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Año</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for celular in celulares %}
        <tr>
          <td>{{ celular.idcelular }}</td>
          <td>{{ celular.marca_rel.nombre}}</td>
          <td>{{ celular.modelo }}</td>
          <td>{{ celular.año }}</td>
          <td>
            <a href="{{url_for('others.editar', id=celular.idcelular)}}"
              >Editar</a
            >
            <a href="{{url_for('others.eliminar', id=celular.idcelular)}}"
              >Eliminar</a
            >
            <a href="{{url_for('others.info', id=celular.idcelular)}}">Info</a>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="3">No hay celulares disponibles.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
