<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body>
    <div>
      <a href="{{url_for('others.agregar')}}">Agregar</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Precio</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for celular in celulares %}
        <tr>
          <td>{{ celular.id }}</td>
          <td>{{ celular.marca }}</td>
          <td>{{ celular.modelo }}</td>
          <td>{{ celular.anio }}</td>
          <td>
            <a href="{{url_for('others.eliminar', id=celular.id)}}">Eliminar</a>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="3">No hay celulares disponibles.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
